.stages .ui-progressbar {
    height: 0.5em;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0 1em;
}

.shortmessage .ui-dialog-titlebar {
    display: none;
}

.shortmessage.correct {
    border-color: lightgreen;
    border-width: 3px;
}

.shortmessage.wrong {
    border-color: red;
    border-width: 3px;
}

body .ui-widget-overlay {
    background: repeat-x scroll 0.7 #222;
    opacity: 0.7;
}
button, button img, label[role=button], label[role=button] * {
    -webkit-user-drag: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
